<!-- party_hp.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Party</title>
</head>

<body>
<h1>Party Health</h1>
<table>
	<thead><tr>
		<th>IMG</th>
		<th>Name</th>
		<th>HP</th>
		<th>Status</th>
	</tr></thead>
	<tbody>
		{% for name, data in party_data.items() %}
		<tr>
			<td> <img src={{ url_for('party_blueprint.static', filename=data["img"]) }} alt="genasi portrait" width="20%" height="auto"/> </td>
			<td> {{ name }} </td>
			<td> {{ data["hp"] }}/{{ data["max_hp"] }} </td>
			<td> {{ data["status"] }} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</body>
</html>
